<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>{{author}}</string>
	<key>Builder Version</key>
	<string>12602.1.50.0.10</string>
	<key>CFBundleDisplayName</key>
	<string>PiPTool</string>
	<key>CFBundleIdentifier</key>
	<string>{{packageIdentifier}}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>{{version}}</string>
	<key>CFBundleVersion</key>
	<string>{{version}}</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>togglePipMode</string>
				<key>Identifier</key>
				<string>togglePipMode</string>
				<key>Image</key>
				<string>images/piptool-menu-icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>PiPTool</string>
				<key>Palette Label</key>
				<string>PiPTool</string>
				<key>Tool Tip</key>
				<string>Enter PiP Search mode</string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>{{packageIdentifier}}</string>
	</array>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>scripts/main.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>stylesheets/main.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>{{description}}</string>
	<key>DeveloperIdentifier</key>
	<string>{{devKey}}</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>{{updateUrl}}</string>
</dict>
</plist>
