<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Key</key>
            <string>plexDomains</string>
            <key>Secure</key>
            <false/>
            <key>Title</key>
            <string>Additional Plex Domains</string>
            <key>Type</key>
            <string>TextField</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>embyDomains</string>
            <key>Secure</key>
            <false/>
            <key>Title</key>
            <string>Additional Emby Domains</string>
            <key>Type</key>
            <string>TextField</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>enableContextMenu</string>
            <key>Title</key>
            <string>Contextual Menu</string>
            <key>Type</key>
            <string>CheckBox</string>
        </dict>
    </array>
</plist>
