.ytp-button.pip-button img {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.dmp_ControlBarButton.pip-button {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
}

.btn-link.pip-button:hover,
.btn-link.pip-button:active {
    opacity: 1;
}

.btn-link.pip-button {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.8;
}

.btn-link.pip-button:hover,
.btn-link.pip-button:active {
    opacity: 1;
}

.netflix-pip {
    color: white;
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 999999;
    cursor: pointer;
    user-select: auto;
    pointer-events: auto;

}

body:hover > .netflix-pip {
    opacity: 0.8;
}

.deactivate-pointer-events {
    pointer-events: none!important;
}

.pip-hover-mode {
    border:3px solid rgb(255, 0, 0)!important;
    box-sizing: border-box!important;
}
